<h2>タスク登録</h2>
<%= form_with model: @task, local: true do |form| %>
  <p>
  タイトル <br>
  <%= form.text_field :title %>
  </p>

  <p>
  内容 <br>
  <%= form.text_area :body %></p>

  <%= form.submit "Update Task" %>
<% end %>

<p>
<%= link_to "詳細に戻る", task_path(@task) %>
</p>